<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>

<header role="banner">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <th:block th:include="~{/fragments/admin-nav}"></th:block>
    </nav>
</header>


<section class="site-hero overlay" data-stellar-background-ratio="0.5"
         style="background-image: url(/images/big_image_2.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-inner">
            <div class="col-md-10">

                <div class="mb-5 element-animate">
                    <div class="block-17">
                        <h1 class="heading text-center mb-4">DEVUNI ADMIN PANEL</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="container site-section element-animate">
    <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center section-heading">
            <h2 class="text-primary heading">All Admins in DevUni</h2>
        </div>
    </div>
    <div class="row">

        <div th:each="admin : ${allAdmins} " th:object="${admin}"
             class="col-md-6 col-lg-4">
            <div class="block-2 ">
                <div class="flipper">
                    <div class="front" th:style="'background-image:url(' + *{profilePicture} + ');'">
                        <div class="box">
                            <h2 th:text="*{fullName}"></h2>
                            <p>ADMIN</p>
                        </div>
                    </div>
                    <div class="back">
                        <div id="backInfo" class="back-info">
                            <div class="name ">Username: <span th:text="*{username}" class="position"></span></div>
                            <br>

                            <div class="name ">Email: <span th:text="*{email}" class="position"></span></div>
                            <br>

                            <div class="name">Registration Date:
                                <br>
                                <span th:text="*{registrationDate}"
                                      th:field="*{registrationDate}" disabled type="text"
                                      id="registrationDate" name="registrationDate" class="position">
                                </span>
                            </div>

                            <div class="name">Status:
                                <span th:if="*{status}" class="badge badge-success">Active</span>
                                <span th:unless="*{status}" class="badge badge-danger">Blocked</span>

                            </div>

                        </div>

                        <div class="author d-flex">
                            <div class="image mr-3 ">
                                <img width="100" height="50" th:src="*{profilePicture}">
                            </div>
                            <div th:text="*{fullName}" class="name align-self-center"><span
                                    class="position">ADMIN</span></div>
                        </div>
                    </div>
                </div>
            </div> <!-- .flip-container -->
        </div>

    </div>
</div>


<footer class="site-footer bg-dark">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
<!-- END footer -->

<!-- loader -->
<th:block th:include="~{/fragments/script-loaders}"></th:block>
</body>
</html>