<th:block>
    <th:block th:fragment sec:authorize="isAnonymous()">
        <div class="container navbar-change">
            <a class="navbar-brand absolute" th:href="@{/}">DevUni</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/home}">Home</a>
                    </li>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link active" href="admin-panel">Admin Panel</a>
                        </li>
                    </th:block>
                    <li class="nav-item">
                        <a class="nav-link active" href="courses.html">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="blog.html">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                </ul>
                <ul id="logoutButton" class="navbar-nav absolute-right">
                    <li>
                        <a th:href="@{/users/login}">Login</a> / <a th:href="@{/users/register}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>

    <th:block th:fragment sec:authorize="isAuthenticated()">

        <div class="container navbar-change">
            <!-- DEVUNI LOGO-->
            <a class="navbar-brand absolute" th:href="@{/home}">DevUni</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/home}">Home</a>
                    </li>
                    <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ROOT_ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admins/home-page}">Admin Panel</a>
                        </li>
                    </th:block>
                    <li class="nav-item">
                        <a class="nav-link active" href="courses.html">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="blog.html">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                </ul>
            </div>

        </div>
        <!--        Profile Pic and Logout Button-->
        <div>
            <ul class="navbar-nav absolute">

                <li>
                    <a th:href="@{/users/user-details}">
                        <img id="profilePicture" name="profilePicture" th:src="*{#session.getAttribute('avatarImg')}"
                             alt="Avatar" class="avatar">
                    </a>

                </li>

                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <a type="button" class="btn" th:href="@{/logout}">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </th:block>
</th:block>


<!--
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Courses</a>
    <div class="dropdown-menu" aria-labelledby="dropdown04">
        <a class="dropdown-item" href="courses.html">HTML</a>
        <a class="dropdown-item" href="courses.html">WordPress</a>
        <a class="dropdown-item" href="courses.html">Laravel</a>
        <a class="dropdown-item" href="courses.html">JavaScript</a>
        <a class="dropdown-item" href="courses.html">Python</a>
    </div>

</li>-->

<!--
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Admin Panel</a>
    <div class="dropdown-menu" aria-labelledby="dropdown05">
        <a class="dropdown-item" href="#">All Admins</a>
        <a class="dropdown-item" href="#">Create Admin</a>
    </div>
</li>-->
