<th:block>
    <th:block th:fragment sec:authorize="isAnonymous()">
        <div class="container navbar-change">
            <a class="navbar-brand absolute" th:href="@{/}">DevUni</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Courses</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="courses.html">HTML</a>
                            <a class="dropdown-item" href="courses.html">WordPress</a>
                            <a class="dropdown-item" href="courses.html">Laravel</a>
                            <a class="dropdown-item" href="courses.html">JavaScript</a>
                            <a class="dropdown-item" href="courses.html">Python</a>
                        </div>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <a class="dropdown-item" href="#">HTML</a>
                            <a class="dropdown-item" href="#">WordPress</a>
                            <a class="dropdown-item" href="#">Laravel</a>
                            <a class="dropdown-item" href="#">JavaScript</a>
                            <a class="dropdown-item" href="#">Python</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
                <ul id="logoutButton" class="navbar-nav absolute-right">
                    <li>
                        <a th:href="@{/users/login}">Login</a> / <a th:href="@{/users/register}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>

    <th:block th:fragment sec:authorize="isAuthenticated()">
        <div class="container navbar-change">
            <a class="navbar-brand absolute" th:href="@{/}">DevUni</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Courses</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="courses.html">HTML</a>
                            <a class="dropdown-item" href="courses.html">WordPress</a>
                            <a class="dropdown-item" href="courses.html">Laravel</a>
                            <a class="dropdown-item" href="courses.html">JavaScript</a>
                            <a class="dropdown-item" href="courses.html">Python</a>
                        </div>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <a class="dropdown-item" href="#">HTML</a>
                            <a class="dropdown-item" href="#">WordPress</a>
                            <a class="dropdown-item" href="#">Laravel</a>
                            <a class="dropdown-item" href="#">JavaScript</a>
                            <a class="dropdown-item" href="#">Python</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="navbar-nav absolute">
            <li>
                <a th:href="@{/users/user-details}">
                    <img src="images/person_2.jpg" alt="Avatar" class="avatar">
                </a>
            </li>

            <li>
                <form th:action="@{/logout}" th:method="post">
                    <a type="button" class="btn" th:href="@{/logout}">Logout</a>
                </form>
            </li>
        </ul>
    </th:block>
</th:block>

