<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment sec:authorize="isAnonymous()">
        <div class="container navbar-change mx-auto">
            <a class="navbar-brand absolute" th:href="@{/}">DevUni</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light " id="navbarsExample05">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/courses/allCourses}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                </ul>
                <ul id="logoutButton" class="navbar-nav absolute-right">
                    <li>
                        <a th:href="@{/users/login}">Login</a> / <a th:href="@{/users/register}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>

    <th:block th:fragment sec:authorize="isAuthenticated()">

        <div class="container navbar-change">
            <!-- DEVUNI LOGO-->
            <a class="navbar-brand absolute" th:href="@{/home}">DevUni</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/home}">Home</a>
                    </li>
                    <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ROOT_ADMIN')">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admins/home-page}">Admin Panel</a>
                        </li>
                    </th:block>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_TEACHER')">
                        <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Courses</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" th:href="@{/courses/allCourses}">All Courses</a>
                            <a class="dropdown-item" th:href="@{/courses/teacher-courses}">My Courses</a>
                            <a class="dropdown-item" th:href="@{/courses/create}">Create Course</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_TEACHER')">
                        <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Assignments</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" th:href="@{/courses/teacher-check-courses}">Courses</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_STUDENT')">
                        <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Courses</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" th:href="@{/courses/allCourses}">All Courses</a>
                            <a class="dropdown-item" th:href="@{/courses/enrolledCourses}">My Courses</a>
                            <a class="dropdown-item" th:href="@{/courses/completedCourses}">Completed Courses</a>
                        </div>

                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_STUDENT')">
                        <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Assignments</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" th:href="@{/users/userCheckedAssignments}">All Assignments</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                </ul>
            </div>

        </div>
        <!--        Profile Pic and Logout Button-->
        <div>
            <ul class="navbar-nav absolute">

                <th:block sec:authorize="hasRole('ROLE_TEACHER')"
                          th:if="${session.user.getAboutMeServiceModel() == null}">
                    <li>
                        <a th:href="@{/users/user-details}">
                            <img name="profilePicture" src="/images/notification_bell.jpg"
                                 alt="Avatar" class="avatar" width="174" height="192">
                        </a>
                    </li>
                </th:block>
                <li style="padding-top: 3%;padding-right: 4%;">
                    <form th:action="@{/courses/allCourses}">
                        <div class="search">
                            <input name="search" id="search"  type="search" class="searchTerm" placeholder="What are you looking for?">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </li>
                <li>
                    <a th:href="@{/users/user-details}">
                        <img id="profilePicture" name="profilePicture" th:src="*{#session.getAttribute('avatarImg')}"
                             alt="Avatar" class="avatar">
                    </a>
                </li>

                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <a type="button" class="btn" th:href="@{/logout}">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </th:block>
</th:block>


