<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>

<header role="banner">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<!-- END header -->

<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5"
         style="background-image: url(/images/big_image_2.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-sm-inner">
            <div class="col-md-7 text-center">

                <div class="mb-5 element-animate">
                    <h1 class="mb-2">Register</h1>
                    <p class="bcrumb"><a href="index.html">Home</a> <span
                            class="sep ion-android-arrow-dropright px-2"></span> <span class="current">Register</span>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section id="userRegister" class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="form-wrap">
                    <h2 class="mb-5">Register new account</h2>
                    <form th:action="@{/users/register}" th:method="post" th:object="${userRegisterBindingModel}">

                        <!--<th:block th:if="${exceptionMessage != null}" >

                            <small class="text-danger col-12 text-center register-message" th:text="${exceptionMessage}">User already exist</small>
                            <br/>
                        </th:block>-->
                        <th:block th:if="${exceptionMessage != null}">
                            <div th:text="${exceptionMessage}" class="alert alert-danger text-center" role="alert">
                                Wrong email or password.
                            </div>
                        </th:block>


                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="username">Username</label>
                                <input th:errorclass="alert-danger" th:field="*{username}" type="text" id="username"
                                       class="form-control py-2" placeholder="Enter username.." required>

                                <th:block th:each="e : ${#fields.errors('username')}">
                                    <div class="mx-auto">
                                        <small th:text="${e}" class="text-danger"></small>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="firstName">First Name</label>
                                <input th:errorclass="alert-danger" th:field="*{firstName}" type="text" id="firstName"
                                       class="form-control py-2" placeholder="Enter first name.." required>

                                <th:block th:each="e : ${#fields.errors('firstName')}">
                                    <div class="mx-auto">
                                        <small th:text="${e}" class="text-danger"></small>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="firstName">Last Name</label>
                                <input th:errorclass="alert-danger" th:field="*{lastName}" type="text" id="lastName"
                                       class="form-control py-2" placeholder="Enter last name.." required/>

                                <th:block th:each="e : ${#fields.errors('lastName')}">
                                    <div class="mx-auto">
                                        <small th:text="${e}" class="text-danger"></small>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="email">Email Address</label>
                                <input th:errorclass="alert-danger" th:field="*{email}" type="text" id="email"
                                       class="form-control py-2" placeholder="Enter email.." required>

                                <th:block th:each="e : ${#fields.errors('email')}">
                                    <div class="mx-auto">
                                        <small th:text="${e}" class="text-danger"></small>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="password">Password</label>
                                <input th:errorclass="alert-danger" th:field="*{password}" type="password" id="password"
                                       class="form-control py-2 " placeholder="Enter password.." required>

                                <th:block th:each="e : ${#fields.errors('password')}">
                                    <div class="mx-auto">
                                        <small th:text="${e}" class="text-danger"></small>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-12 form-group">
                                <label for="confirmPassword">Re-type Password</label>
                                <input th:field="*{confirmPassword}" type="password" id="confirmPassword"
                                       class="form-control py-2" placeholder="Confirm password.." required>

                                <th:block th:each="e : ${#fields.errors('confirmPassword')}">
                                    <div class="mx-auto">
                                        <small th:text="${e}" class="text-danger"></small>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="submit" value="Register" class="btn btn-primary px-5 py-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer bg-dark">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
<!-- END footer -->

<!-- loader -->
<th:block th:include="~{/fragments/script-loaders}"></th:block>
</body>
</html>