<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>

<header role="banner">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>

<section>
    <th:block sec:authorize="hasRole('ROLE_TEACHER')"
              th:if="${session.user.getAboutMeServiceModel() == null}">
    <div class="alert alert-warning alert-danger fade show" role="alert">
        Congratulations <strong> <span th:text="*{userDetailsViewModel.getFullName()}"></span></strong> you have become
        a teacher !
        Every DevUni teacher must have short self description and knowledge level !
        <a th:href="@{/users/about-me}"><strong>Don't forget to tell more about yourself !</strong></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="closebtn" aria-hidden="true">&times;</span>
        </button>
    </div>
    </th:block>
</section>

<section id="userDetails" class="site-section ">
    <div class="container-user-details">
        <div class="row">
            <div class="col-md-5 order-md-1">
                <div class="block-16">
                    <form th:object="${userDetailsViewModel}">
                        <figure>
                            <img th:src="*{profilePicture}" alt="Image placeholder" class="rounded-circle" width="340"
                                 height="340">
                            <br>
                        </figure>
                    </form>
                    <form th:action="@{/users/user-details}" th:method="post"
                          th:object="${userAddProfilePictureBindingModel}"
                          enctype="multipart/form-data" >
                        <input th:field="*{profilePicture}" type="file" class="form-control-file" id="profilePicture"
                               name="profilePicture" accept="image/x-png,image/jpeg,image/jpg">
                        <br>
                        <input class="btn btn-primary" type="submit">
                        <th:block th:if="${imageSizeException != null}">
                            <div th:text="${imageSizeException}" class="alert alert-danger text-center" role="alert">
                            </div>
                        </th:block>
                    </form>
                </div>
            </div>

            <div class="col-md-5 order-md-2">

                <form th:object="${userDetailsViewModel}">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="username">Username</label>
                            <input th:field="*{username}" disabled type="text" id="username" name="username"
                                   class="form-control py-2">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="fullName">Full Name</label>
                            <input th:field="*{fullName}" disabled type="text" id="fullName" name="fullName"
                                   class="form-control py-2">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="email">Email Address</label>
                            <input th:field="*{email}" disabled type="text" id="email" name="email"
                                   class="form-control py-2">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="registrationDate">Registration Date</label>
                            <input th:field="*{registrationDate}" disabled type="text" id="registrationDate"
                                   name="registrationDate" class="form-control py-2">
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <a id="changeEmail" type="button" class="btn btn-primary" th:href="@{/users/change-email}">Change
                            Email</a>
                    </div>

                    <div class="col-md-6 col-md-offset-2 form-group">
                        <a id="changePassword" type="button" class="btn btn-primary"
                           th:href="@{/users/change-password}">Change Password</a>
                    </div>


                </div>

                <form class="row" th:object="${userDetailsViewModel}">
                    <div class="col-md-6 form-group" sec:authorize="hasRole('ROLE_TEACHER')">
                        <a id="aboutMe" type="button" class="btn btn-primary" th:href="@{/users/about-me}">About
                            Me </a>
                    </div>

                    <div class="col-md-6  form-group" sec:authorize="hasRole('ROLE_STUDENT')"
                         th:unless="*{teacherRequest}">
                        <a id="sendTeacherRequest" type="button" class="btn btn-primary"
                           th:href="@{/users/teacher-request/{id}(id =*{id})}">Sent Teacher Request</a>
                    </div>
                </form>


            </div>
        </div>
</section>

<footer class="site-footer  bg-dark">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
<!-- END footer -->

<!-- loader -->
<th:block th:include="~{/fragments/script-loaders}"></th:block>
<script src="/js/close-button.js"></script>
</body>
</html>

