<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>

<header role="banner">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>

<section class="site-section ">
    <div class="container-user-details">
        <div class="row">
            <div class="col-md-5 order-md-1">
                <div class="block-16">
                    <figure>
                        <img src="/images/img_1.jpg" alt="Image placeholder" class="rounded-circle" width="350"
                             height="350">
                    </figure>
                </div>
            </div>

            <div class="col-md-5 order-md-2">

                <form th:object="${userDetailsViewModel}">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="username">Username</label>
                            <input th:field="*{username}" disabled type="text" id="username" name="username"
                                   class="form-control py-2">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="fullName">Full Name</label>
                            <input th:field="*{fullName}" disabled type="text" id="fullName" name="fullName"
                                   class="form-control py-2">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="email">Email Address</label>
                            <input th:field="*{email}" disabled type="text" id="email" class="form-control py-2">
                        </div>
                    </div>
                </form>
                <form th:action="@{/users/user-details}" th:method="post" th:object="${userDetailsBindingModel}">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="newEmail">New Email Address</label>
                            <input th:field="*{newEmail}" type="text" th:errclass="alert-danger" id="newEmail"
                                   name="newEmail"
                                   class="form-control py-2">

                            <th:block th:if="${invalidEmail}">

                                <div th:text="${message}" class="alert alert-danger text-center invalidEmail" role="alert">
                                </div>

                            </th:block>

                        </div>
                        <div class="col-md-12 form-group">
                            <label for="password">Password</label>
                            <input th:field="*{password}" type="password" id="password" name="password"
                                   class="form-control py-2 ">
                            <th:block th:if="${invalidUserPassword}">
                                <div class="alert alert-danger text-center invalidEmail" role="alert" th:text="Invalid password !">
                                </div>

                            </th:block>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="newPassword">New Password</label>
                            <input th:field="*{newPassword}" type="password" id="newPassword" name="newPassword"
                                   class="form-control py-2 ">
                            <th:block th:each="e : ${#fields.errors('*')}">
                                <div class="mx-auto">
                                    <small th:text="${e}" class="text-danger"></small>
                                </div>
                            </th:block>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="confirmNewPassword">Re-type New Password</label>
                            <input th:field="*{confirmNewPassword}" type="password" id="confirmNewPassword"
                                   name="confirmNewPassword"
                                   class="form-control py-2">
                            <th:block th:each="e : ${#fields.errors('*')}">
                                <div class="mx-auto">
                                    <small th:text="${e}" class="text-danger"></small>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Save" class="btn btn-primary px-5 py-2">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer  bg-dark">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
<!-- END footer -->

<!-- loader -->
<th:block th:include="~{/fragments/script-loaders}"></th:block>
</body>
</html>