<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>

<header role="banner">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>

<section class="site-section ">
    <div class="container-user-details">
        <div class="row">
            <div class="col-md-5 order-md-1">
                <div class="block-16">
                    <figure>
                        <img src="/images/img_1.jpg" alt="Image placeholder" class="rounded-circle" width="350" height="350">
                    </figure>
                </div>
            </div>

            <div class="col-md-5 order-md-2">

                <form action="" method="post">

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" id="fullName" name="fullName" class="form-control py-2">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="email">Email Address</label>
                            <input type="text" id="email" class="form-control py-2">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="newEmail">New Email Address</label>
                            <input type="text" id="newEmail" name="newEmail" class="form-control py-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control py-2 ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control py-2 ">
                        </div>
                    </div>
                    <div class="row mb-12">
                        <div class="col-md-12 form-group">
                            <label for="confirmNewPassword">Re-type New Password</label>
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control py-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Save" class="btn btn-primary px-5 py-2">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer  bg-dark">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
<!-- END footer -->

<!-- loader -->
<th:block th:include="~{/fragments/script-loaders}"></th:block>
</body>
</html>